{% extends 'basic.html' %}

{% block title%}
About US
{% endblock title%}

{% block body %}

<div class="container" style="background-color:aqua;">

 <div class="container my-1" style="position: relative; left: 100px;">
    <img src="static/img/2.jpg" style="margin-top: 30px; border-style: ridge;" width="800" height="400">
    <h3 class="my-3">This page will tell you about Us</h3>
What began as an indulgence is now our passion.
<br/><br/>
At Extra Flavour, we strive to recreate what we grew up enjoying. Memories of<br/>
fun-filled decadence of our mothers’ home-made chocolate ice cream—fresh,<br/>
free of preservatives, healthy and full of love—inspired us to do the same.
<br/><br/>
We make irresistible gelato with the finest ingredients. For those that prefer it,<br/>
we have sugar-free and vegan options that are as good if not better than their<br/>
counterparts— you have to TASTE IT TO LOVE IT!
 </div>
</div>
{% endblock body%}